<h2>Create Post</h2>
<form method="post" enctype="multipart/form-data" >
    <input type="text" name="title" placeholder="enter title" />
    <br />
    <br />
    <textarea name="postContent" placeholder="enter your post"></textarea>
    <br /><br />
    <input type="file" name="imageUrl" />
    <br /><br />
    <button type="submit" >post now</button>
    

</form>
